@model AppInfoViewModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome/Hello</h1>
    <span>Layout : @Layout</span>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-3">Environment</dt>
        <dd class="col-sm-9">@Model.Environment</dd>

        <dt class="col-sm-3">Framework</dt>
        <dd class="col-sm-9">@Model.FrameworkVersion</dd>

        <dt class="col-sm-3">Culture</dt>
        <dd class="col-sm-9">@Model.Culture</dd>

        <dt class="col-sm-3">UI Culture</dt>
        <dd class="col-sm-9">@Model.UiCulture</dd>
    </dl>
</div>


<pre class="rounded"><code class="language-csharp">public class ApplicationDbContext : IdentityDbContext
{
    public ApplicationDbContext(DbContextOptions<ApplicationDbContext> options)
        : base(options)
    {
    }
}</code></pre>



<bs-button bs-color="Primary" type="Button" bs-fa-icon="fa-solid fa-person-snowboarding" size="Normal">
    Hello Bs Button
</bs-button>

<bs-button bs-color="Danger" type="Button" bs-fa-icon="fa-solid fa-person-snowboarding" size="Normal">
    Hello Danger
</bs-button>

<div class="dropdown" data-bs-theme="light">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonLight" data-bs-toggle="dropdown" aria-expanded="false">
        Default dropdown
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
        <li><a class="dropdown-item active" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
</div>

<div class="dropdown" data-bs-theme="dark">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDark" data-bs-toggle="dropdown" aria-expanded="false">
        Dark dropdown
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
        <li><a class="dropdown-item active" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
</div>