@model DatatableSampleViewModel

@{
    ViewData["Title"] = "Tables";
    List<Employee> collection = Model.Employees;
}

<link href="~/lib/datatables/DataTables-1.13.6/css/dataTables.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/AutoFill-2.6.0/css/autoFill.bootstrap5.min.css" rel="stylesheet">
<link href="~/lib/datatables/Buttons-2.4.1/css/buttons.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/ColReorder-1.7.0/css/colReorder.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/DateTime-1.5.1/css/dataTables.dateTime.css" rel="stylesheet">
<link href="~/lib/datatables/FixedColumns-4.3.0/css/fixedColumns.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/FixedHeader-3.4.0/css/fixedHeader.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/KeyTable-2.10.0/css/keyTable.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/Responsive-2.5.0/css/responsive.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/RowGroup-1.4.0/css/rowGroup.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/RowReorder-1.4.1/css/rowReorder.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/Scroller-2.2.0/css/scroller.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/SearchBuilder-1.5.0/css/searchBuilder.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/SearchPanes-2.2.0/css/searchPanes.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/Select-1.7.0/css/select.bootstrap5.css" rel="stylesheet">
<link href="~/lib/datatables/StateRestore-1.3.0/css/stateRestore.bootstrap5.css" rel="stylesheet">

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped employee-datatable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Office)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Salary)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in collection)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Office)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <pre><code class="language-csharp">public class Employee
    {
        public string Name { get; set; }
        public int Id { get; set; }
        public string Position { get; set; }
        public string Office { get; set; }
        public int Age { get; set; }
        public DateOnly StartDate { get; set; }
        public decimal Salary { get; set; }
    }</code></pre>
    </div>
</div>


<div class="accordion" id="configAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFeatures">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Features
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingFeatures" data-bs-parent="#configAccordion">
            <div class="row m-2">
                @foreach (var item in Model.DatatableConfiguration.Features)
                {
                    <div class="col-md-4">

                        @if (item.OptionDefault.StartsWith("true") || item.OptionDefault.StartsWith("false"))
                        {
                            <div class="form-check form-switch">

                                <input type="checkbox" checked="@(item.OptionDefault == "true")" class="form-check-input" name="@item.Name" id="check-opt-@item.Name" value="@item.OptionDefault" />
                                <input type="hidden" class="form-check-input" name="@item.Name" id="opt-@item.Name" value="@item.OptionDefault" />

                                <label class="form-check-label" for="opt-@item.Name">@item.Name</label>

                            </div>
                        }
                        else
                        {
                            <label class="form-label" for="opt-@item.Name">@item.Name</label>

                            <input class="form-control form-control-sm" type="text" name="@item.Name" id="opt-@item.Name" value="@item.OptionDefault" />
                        }
                        <div id="help-@item.Name" class="form-text">@item.Desc @item.OptionHint</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

    
<div class="row m-0">
        <button class="btn btn-primary mt-3" onclick="regenererDataTable()">Regenerer</button>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/lib/datatables/JSZip-3.10.1/jszip.js"></script>
    <script src="~/lib/datatables/pdfmake-0.2.7/pdfmake.js"></script>
    <script src="~/lib/datatables/pdfmake-0.2.7/vfs_fonts.js"></script>
    <script src="~/lib/datatables/DataTables-1.13.6/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/DataTables-1.13.6/js/dataTables.bootstrap5.js"></script>
    <script src="~/lib/datatables/AutoFill-2.6.0/js/dataTables.autoFill.js"></script>
    <script src="~/lib/datatables/AutoFill-2.6.0/js/autoFill.bootstrap5.js"></script>
    <script src="~/lib/datatables/Buttons-2.4.1/js/dataTables.buttons.js"></script>
    <script src="~/lib/datatables/Buttons-2.4.1/js/buttons.bootstrap5.js"></script>
    <script src="~/lib/datatables/Buttons-2.4.1/js/buttons.colVis.js"></script>
    <script src="~/lib/datatables/Buttons-2.4.1/js/buttons.html5.js"></script>
    <script src="~/lib/datatables/Buttons-2.4.1/js/buttons.print.js"></script>
    <script src="~/lib/datatables/ColReorder-1.7.0/js/dataTables.colReorder.js"></script>
    <script src="~/lib/datatables/DateTime-1.5.1/js/dataTables.dateTime.js"></script>
    <script src="~/lib/datatables/FixedColumns-4.3.0/js/dataTables.fixedColumns.js"></script>
    <script src="~/lib/datatables/FixedHeader-3.4.0/js/dataTables.fixedHeader.js"></script>
    <script src="~/lib/datatables/KeyTable-2.10.0/js/dataTables.keyTable.js"></script>
    <script src="~/lib/datatables/Responsive-2.5.0/js/dataTables.responsive.js"></script>
    <script src="~/lib/datatables/Responsive-2.5.0/js/responsive.bootstrap5.js"></script>
    <script src="~/lib/datatables/RowGroup-1.4.0/js/dataTables.rowGroup.js"></script>
    <script src="~/lib/datatables/RowReorder-1.4.1/js/dataTables.rowReorder.js"></script>
    <script src="~/lib/datatables/Scroller-2.2.0/js/dataTables.scroller.js"></script>
    <script src="~/lib/datatables/SearchBuilder-1.5.0/js/dataTables.searchBuilder.js"></script>
    <script src="~/lib/datatables/SearchBuilder-1.5.0/js/searchBuilder.bootstrap5.js"></script>
    <script src="~/lib/datatables/SearchPanes-2.2.0/js/dataTables.searchPanes.js"></script>
    <script src="~/lib/datatables/SearchPanes-2.2.0/js/searchPanes.bootstrap5.js"></script>
    <script src="~/lib/datatables/Select-1.7.0/js/dataTables.select.js"></script>
    <script src="~/lib/datatables/StateRestore-1.3.0/js/dataTables.stateRestore.js"></script>
    <script src="~/lib/datatables/StateRestore-1.3.0/js/stateRestore.bootstrap5.js"></script>

    <script type="text/javascript">

        //génération table initiale
        let myTable = new DataTable(".employee-datatable",
            {
                info: true,
                ordering: true,
                paging: true
            });

        //synchro checkbox avec hidden input
        const checkboxs = document.querySelectorAll("input[id^='check-opt']");
        checkboxs.forEach(function (checkbox) {
            checkbox.addEventListener('change', (event) => {
                let targetElement = document.getElementById(checkbox.id.replace('check-', ''));
                if (event.currentTarget.checked) {
                    targetElement.value = true;
                } else {
                    targetElement.value = false;
                }
            })
        })



        function regenererDataTable() {
            myTable.destroy();
            myTable = new DataTable(".employee-datatable", createConfig());
        }

        function test() {
            myTable.destroy()
            myTable = new DataTable(".employee-datatable",
                {
                    "autoWidth": true,
                    "deferRender": false,
                    "info": true,
                    "lengthChange": true,
                    "ordering": true,
                    "paging": true,
                    "processing": false,
                    "scrollX": false,
                    "scrollY": "200px",
                    "searching": true,
                    "serverSide": false,
                    "stateSave": false
                })
        }

        function createConfig() {
            const inputs = document.querySelectorAll("input[id^='opt']");

            let inputNames = {};
            inputs.forEach(function (input) {
                let value = input.value === "true" ? true : input.value === "false" ? false : input.value;
                inputNames[input.name] = value;
            });
            return inputNames //return the array
        }
    </script>
}

